@{
    ViewData["Title"] = "Eliminar Información Cliente";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="" />

    <style>
        .boton {
            background-color: transparent;
            border: 2px solid #333;
            color: #333;
            font-size: 16px;
            padding: 10px 20px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h3>Eliminar Información Cliente</h3>
        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-danger">@ViewBag.Notificacion</div>
        }

        <h4>Por favor ingresar su identificación para eliminar el cliente</h4>
        @using (Html.BeginForm("EliminarCliente", "Home", FormMethod.Post)) 
        {
            <table>
                <tr>
                    <td><label>Identificación:</label></td>
                    <td><input type="text" name="id" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="enviar" value="Enviar" /></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
