
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
}

@{
    ViewData["Title"] = "Informaciòn de los clientes";
}
<h1>@ViewData["Title"]</h1>


@{
    string textoClientes = ViewData["TextoClientes"] as string;
}

<style>
    
    table {
        margin: 20px auto;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 1px solid black;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula</th>
            <th>Estrato</th>
            <th>Meta de ahorro</th>
            <th>Consumo de energía</th>
            <th>Consumo de agua</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var linea in textoClientes.Split('\n'))
        {
            <tr>
                @foreach (var columna in linea.Split(','))
                {
                    <td>@columna.Trim()</td>
                }
            </tr>
        }
    </tbody>
</table>


<form asp-action="Textopago" method="post">
    <button type="submit">suma pagos</button>
</form>
